@font-face {
    font-family: 'Slowdex';
    src: url('../font/slowdex/Slowdex.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/bg7.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    color: rgb(26, 26, 20);
    font-weight: 500;
}

header {
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Blur the background */
    font-family: 'Slowdex';
    text-align: center;
    /* margin-bottom: 20px; */
    width: 100%; /* Take up full width */
    text-align: center;
}
header h1 {
    font-size: 2em;
    color: rgb(240, 243, 197);
    padding: 5px 0 0 0;
    margin: 0.4rem auto;
    user-select: none;
}

header .red {
    color: #007bff; /* Vibrant Blue */
}

header .green {
    color: #343a40; /* Dark Gray */
}

/* header {
    font-family: 'Slowdex';
    text-align: center;
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 15%; 
    transform: translateX(-50%); 
}
 */



#frameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px 5px 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur the background */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px; /* Rounded corners */
}

.input-group1 {
    margin-bottom: 20px;
    text-align: left; /* Align left by default */
    width: 100%;
}
.input-group1 label {
    display: block;
    margin-bottom: 5px;
}
label {
    display: block;
    color: #fdfffe;
}
input[type="file"], select {
    margin-bottom: 1px;
}

@keyframes gradient {
    0% {background-position: 5% 90%;}
    50% {background-position: 90% 50%;}
    100% {background-position: 5% 90%;}
}
select {
    font-weight: 600;
    width: 80%;
    padding: 10px;
    border-radius: 25px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(270deg, rgba(0, 123, 255, 0.4), rgba(255, 65, 54, 0.4));
    background-size: 200% 200%; /* Required for the animation */
    animation: gradient 3s ease infinite; /* Apply the animation */
    backdrop-filter: blur(10px); /* Blur the background */
    color: #fff; /* White color for the text */
    appearance: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: background 0.3s ease; /* Add transition */
    text-align: center;
    animation: gradient 4s ease-in-out infinite;
}
select:focus {
    outline: 2px solid transparent; /* Make the outline transparent */
    box-shadow: 0 0 0 2px rgba(206, 197, 30, 0.987); /* Add a yellow glow when focused */
    backdrop-filter: blur(10px);
}
select option {
    background: rgba(249, 6, 6, 0.1); /* Semi-transparent background */
    color: #000000;
    backdrop-filter: blur(10px); /* Blur the background */
}

#preview {
    width: 300px;
    height: 300px;
    position: relative;
}

#frameCanvas {
    pointer-events: none;
}

#userCanvas, #frameCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#upload_button {
    text-align: center;
}

#upload_button .custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 10px auto;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(135, 36, 31, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    gap: 5px;
}
.custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.2);
}


#downloadButton, #recenterButton {
    position: fixed;
    left: 50%; /* Center the button horizontally */
    bottom: 50px;
    transform: translateX(-50%); 
    padding: 5px 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
    line-height: 20px;
    cursor: pointer;
}

#downloadButton img, #recenterButton img {
    width: 20px;
    height: 20px;
    display: block; 
}

#downloadButton:hover, #recenterButton:hover {
    background: rgba(255, 255, 255, 0.2);
}


footer {
    text-align: center;
    padding: 5px;
    background-color: rgba(77, 77, 77, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Blur the background */
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 10px;
}

footer p{
    color: rgba(185, 197, 162, 0.3);
}


/* Disable hover effects for screens larger than 600px */
@media (min-width: 601px) {
    #downloadButton:hover, #recenterButton:hover {
        transform: translateX(-50%);
    }
    #recenterButton {
        bottom: 90px;
    }
}

/* Styles for mobile devices */

@media (max-width: 600px) {
    .input-group1 {
        text-align: center; /* Align center on mobile devices */
    }

    #downloadButton:hover, #recenterButton:hover {
        transform: scale(1.05);
        background: rgba(255, 255, 255, 0.2);
    }
    
    #downloadButton {
        right: 10px; /* Adjust the position as needed */
        left: auto; /* Reset the left positioning */
        transform: none; /* Reset the transform */
    }

    #recenterButton {
        right: 150px;
        left: auto; /* Reset the left positioning */
        transform: none; /* Reset the transform */
    }
}

@keyframes shine {
    0% {
        background-position: -100%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}

@keyframes textShine {
    0%, 100% {
        background-position: 100%;
    }
    50% {
        background-position: 0%;
    }
}

footer p {
    color: rgba(185, 197, 162, 0.3);
    background: linear-gradient(90deg, rgba(185, 197, 162, 0.3), rgba(255, 255, 255, 1), rgba(185, 197, 162, 0.2));
    background-size: 500%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textShine 3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.shine {
    animation: shine 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 200%;
    background-repeat: no-repeat;
}
